body{
    background-color: #111827;
}

h1{
    text-align: left;
    margin-top: 60px;
    margin-left: 60px;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.fotos{
    margin-top: 100px;
    margin-left: 60px;
}

.quadrado h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-align: center;
    margin-right: 65px;
    margin-top: 100px;
}

.login{
    background-color: lightsteelblue;
    font-size: larger;
}

.github{
    background-color: lightsteelblue;
    font-size: larger;
}